<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
    <h2 v-if="display">{{message}}</h2>
    <h2 v-if="display">{{message}}</h2>
    <h1 v-else>display 为 false 时显示我</h1>
    </div>
    
    
    <script src="../../static/js/vue.js"></script>
    <script>
        let app =  new Vue({
            el:"#app",
            data:{
                message:"你好",

                display:true
            }
        })
    </script>
</body>
</html>